/* 导航栏样式 */
.navbar {
    background-color: paleturquoise; /* 深色背景 */
    padding: 10px 20px; /* 内边距 */
    display: flex;
    align-items: center;
    justify-content: space-between;
}

    /* Logo样式 */
    .navbar img {
        height: 50px; /* 固定高度 */
        width: auto; /* 保持宽高比 */
        display: block; /* 块级元素 */
    }

    /* 链接样式 */
    .navbar a {
        text-decoration: none; /* 移除下划线 */
    }

        .navbar a:hover img {
            opacity: 0.8; /* 悬停时透明度 */
        }

.test {
    
    color: blueviolet
}
