@page "/"
@inject HttpClient http

<PageTitle>Home</PageTitle>


@if(_ships==null){
        <p>Loading...</p>
}
else{
    <div class="row">
      <p>@_ships.ElementAt(20).Name</p>

      <ShipGril _ship =@_ships.ElementAt(20) />

     
    </div>
}

@code{


   private IEnumerable<Ship>? _ships;
    protected override async Task OnInitializedAsync()
    {
        try {
            _ships = await http.GetFromJsonAsync<IEnumerable<Ship>>("https://localhost:7094/trails/ship.json");
        }
        catch(Exception ex){
            Console.WriteLine(ex);
        }
    }
}
